@{
    ViewBag.Title = "Home Page";
}
    <div class="row">
        <div class="col-4">
            @Html.Action("GetClients", "Home")
        </div>
        <div class="col-4">
            @Html.Action("AddClientView", "Home")
        </div>
    </div>
