@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @Html.ActionLink("Afficher liste", "GetClients", "Home")
    <div class="col-4">
        @Html.Action("AddClientView", "Home")
    </div>
    <div class="col-4">
        @Html.Action("DeleteClientView", "Home")
    </div>
</div>
